.custom-input {
    background-color: white;
    border: 1px solid var(--cinza--escuro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--borda--arrendodada);
    width: 85%;
    background-color: var(--cinza);
    font-size: var(--paragrafo);

    i {
        color: var(--cor--principal);
        font-size: 20px;
    }

    input {
        border: none;
        padding: 10px;
        transition: border-color 0.9s ease;
    }

    &:focus-within {
        border: 2px solid var(--cor--principal);
        color: var(--laranja--escuro);
        background-color: white;

        .custom-input {
            background-color: white;
        }

        i {
            color: var(--laranja--escuro);
        }

    }

    &:focus-within input {
        outline: none;
        border: none;
    }
}