.post {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 550px;
    border-radius: 16px;
    border: 2px solid #B6B6B6;
    padding: 20px;

    @media screen and (max-width: 768px) {

        width: 60%;
        margin-top: 10px;
        margin-left: 18%;

    }

    .excluir {
        width: 90%;
        display: flex;
        align-items: end;
        margin-bottom: 10px;

        justify-content: end;

        .icon {
            font-size: 25px;
        }
    }

    .image_container {
        width: 90%;

    }

    .post__image {
        width: 100%;
        margin: auto;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        margin: 30px 0px;
        box-shadow: 2px 2px 2px 2px rgb(224, 224, 224);
    }

    .post__timestamp {
        font-weight: 700;
        color: var(--cor--principal);
        margin-bottom: -2%;
        text-align: start;
    }

    .post__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        width: 90%;

        .email_icone {
            font-size: 25px;
        }


        .user_info {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            .name {

                display: flex;
                justify-content: left;
                flex-direction: column;

                .p-copy {
                    font-size: 1.2rem;
                    color: var(--laranja--escuro);

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .post__avatar {
                width: 48px;
                height: 48px;
                margin-right: 12px;
            }

            h3 {
                font-size: 16px;
                margin: 0;
            }

            button {
                background-color: var(--cor--principal);
                color: #fff;
                border: none;
                padding: 8px;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: var(--laranja--escuro);
                }
            }
        }
    }

    .post__button {
        background-color: red;
        margin: 10px;
        color: white;
        background-color: var(--cor--principal);
        font-weight: 700;

        &:hover {
            background-color: var(--laranja--escuro);
        }
    }

    .post__text {
        font-size: 19px;
        line-height: 1.5;
        text-align: left;
        width: 90%;
        word-wrap: break-word;
    }

    .interaciotn {
        width: 85%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
        font-size: 23px;
        color: var(--laranja--escuro);

        span {
            &:hover {
                cursor: pointer;
            }
        }

    }

    .post__comments {
        width: 85%;

        b {
            display: flex;
            margin-right: 4px;
        }

        .name_coment {
            display: flex;
            align-items: center;

            p {
                text-align: left;
            }
        }
    }

    .post__commentbox {
        width: 85%;

        .post__input {
            width: 50%;
            border-radius: 10px;
            border: 1px solid var(--laranja--escuro);
            padding: 10px;

        }
    }

    .time {
        display: flex;
        flex-direction: column;
    }

    .post__actions {
        display: flex;
        align-items: center;

        svg {
            margin-right: 8px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}