.container_principal {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;

    @media screen and (max-width: 1268px) {
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        background-color: red;
        position: relative;
        width: 100%;
    }
}