:root {
    --heading-font: "Titillium Web";
    --cor--principal: #eea033;
    --preto: #080B16;
    --cinza: #EEEEEE;
    --cinza--escuro: #a5a5a5;
    --laranja--escuro: #C77500;
    --titulo--principal: 40px;
    --titulo--secundario: 34px;
    --paragrafo: 16px;
    --borda--arrendodada: 10px;
}